@import "../../App.scss";

.writepage {
  background-color: white;
  color: $primaryBlack;
  padding: 40px 18px;

  .labelStep {
    color: $primaryBlack;
  }

  .firstStep {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    max-width: 1024px;

    .inputContainer {
      flex: 2;

      .fileUpload {
        width: 100%;
        height: 300px;
        border: 2px dashed $primaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primaryColor;
        font-weight: 600;
        cursor: pointer;
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include borderRadius(8px);
      }
      input[type="file"] {
        display: none;
      }
    }
    .another {
      flex: 2;

      .inputTitle {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 26px;
        font-weight: 700;
        color: $primaryColor;
        border-bottom: 2px solid $primaryColor;
        text-transform: capitalize;

        &::placeholder {
          color: $primaryColor;
          text-align: center;
        }
      }

      .formSelect {
        margin-top: 30px;
        width: 100%;
        padding: 15px;
        outline: none;
        @include borderRadius(8px);
        background-color: transparent;
        border: 2px solid $primaryColor;
      }
    }

    @include apply-styles(medium) {
      flex-direction: column-reverse;
      .inputContainer {
        .fileUpload {
          height: 270px;
        }
      }
    }
  }

  .thirdStep {
    margin: auto;
    gap: 15px;
    max-width: 1024px;

    .imagePreview {
      width: 100%;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .title {
      margin: 30px 0;
      font-size: 48px;
      text-align: center;
      text-transform: capitalize;
    }

    .content {
      line-height: 30px;
      text-align: justify;
    }
  }

  @include apply-styles(small) {
    padding: 30px 14px;
    .firstStep {
      .inputContainer {
        .fileUpload {
          height: 200px;
        }
      }
    }
    .thirdStep {
      padding: 8px;

      .imagePreview {
        height: 250px;
      }

      .title {
        font-size: 40px;
        text-align: center;
      }
    }
  }
}

.writepage.dark {
  background-color: $primaryBlack;
  color: white;
  padding: 40px 8px;
  .labelStep {
    color: white;
  }
  .firstStep {
    .another {
      .inputTitle {
        color: white;
        border-bottom: 2px solid white;
        text-transform: capitalize;

        &::placeholder {
          color: white;
          text-align: center;
        }
      }
      .formSelect {
        border: 2px solid white;
        color: white;
      }
    }
  }
}
